:root {
  --first-text-color:#ffffff;
  --second-text-color: #D41443; 
  --third-text-color: #FFA5BA;
  --fourth-text-color: #000000;
  --fifth-text-color: #907E82;

  --top-body-bg-color: #E5E5E5;;
  --bottom-body-bg-color:#FFF5F6;
  --first-bg-color:#FFB8CA;
  --second-bg-color: #F0D1A5;
  --third-bg-color:  #C2E297;

  --modal-bg-color:  #E17992;
 }
