<section id="counter" class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-list">
        <li class="advantages-item first-item">
            <p data-num="721" class="advantages-top-text animate__animated animate__shakeX number">0</p>
            <p class="advantages-bottom-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item second-item">
            <div class="advantages__box">
            <p data-num="16" class="advantages-top-text animate__animated animate__shakeX number">0</p>
            <p class="advantages-top-text animate__animated animate__shakeX">kg</p>
            </div>
            <p class="advantages-bottom-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item third-item">
            <p data-num="84" class="advantages-top-text animate__animated animate__shakeX number">0</p>
            <p class="advantages-bottom-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    </div>
</section>