<section class="advantages">
    <ul class="advantages-list">
        <h1>Advantages visually-hidden</h1>
        <li class="advantages-item">
            <img src="./image-advantages/milk1x.png" alt="milk" width="33px">
            <p class="advantages-top-text">721</p>
            <p class="advantages-bottom-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
            <img src="./image-advantages/fruits1x.png" alt="fruits" width="50px">
            <p class="advantages-top-text">16kg</p>
            <p class="advantages-bottom-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
            <img src="./image-advantages/ice1x.png" alt="icecream" width="44px">
            <p class="advantages-top-text">84</p>
            <p class="advantages-bottom-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>