<section class="reviews" id="reviews">
  <h2 hidden class="review__title">Customer Reviews</h2>
  <article class="container reviews__container">
    <div class="slider">
      <div class="slider__wrapper">
        <div class="slider__box">
          <img
            srcset="
              ./images/image-customers/alina1-photo-not-bg-min.png 1x,
              ./images/image-customers/alina1-photo-not-bg-min.png 2x
            "
            src="./images/image-customers/alina1-photo-not-bg-min.png"
            alt="reviewers foto"
            class="slider__foto neon1"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Team Lead <br />
              Я молода мама в дикретній відпустці. На проекті відповідала за
              "FOOTER", GitHub та роботу всієї команди. Труднощів не було, тому
              що маю чудову команду.
            </p>
          </div>
          <h3 class="slider__bottom-text">Alina, Boryspil</h3>
        </div>

        <div class="slider__box">
          <img
            srcset="
              ./images/image-customers/bogdan-photo-not-bg-min.png 1x,
              ./images/image-customers/bogdan-photo-not-bg-min.png 2x
            "
            src="./images/image-customers/bogdan-photo-not-bg-min.png"
            alt="reviewers foto"
            class="slider__foto neon2"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Scram Master <br />
              Мені 30 років, займаюся порятунком людей в «будь яких незрозумілих
              ситуаціях». Писав секцію "ABOUT". Тричі поломали мені модалку, але
              все рівно команда у нас найкраща !!!
            </p>
          </div>
          <h3 class="slider__bottom-text">Bogdan, Ternopil</h3>
        </div>

        <div class="slider__box">
          <img
            srcset="
              ./images/image-customers/nazar-photo-not-bg-min.png 1x,
              ./images/image-customers/nazar-photo-not-bg-min.png 2x
            "
            src="./images/image-customers/nazar-photo-not-bg-min.png"
            alt="reviewers foto"
            class="slider__foto neon3"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Trainee FS Developer. <br />
              Мені 23. Займався з секцією "HERO", "HEADER" та зробив
              "пасхалочку". Дякую всім за гарну роботу.
            </p>
          </div>
          <h3 class="slider__bottom-text">Nazar, Lviv</h3>
        </div>

        <div class="slider__box">
          <img
            srcset="
              ./images/image-customers/yulia-photo-not-bg-min.png 1x,
              ./images/image-customers/yulia-photo-not-bg-min.png 2x
            "
            src="./images/image-customers/yulia-photo-not-bg-min.png"
            alt="reviewers foto"
            class="slider__foto neon4"
          />
          <div class="slider__description">
            <p class="slider__top-text">
            Trainee FS Developer <br />На данний момент в дикретній відпустці. Працювала над секцією "ADVANTAGES", займалася обробкою та оптимізацією зображень. Проблеми були з анімацією, в IT пробую вдруге та не шкодую))
                      </p>
          </div>
          <h3 class="slider__bottom-text">Yulia, Vinnytsia</h3>
        </div>

        <div class="slider__box">
          <img
            srcset="
              ./images/image-customers/ivan-photo-not-bg-min.png 1x,
              ./images/image-customers/ivan-photo-not-bg-min.png 2x
            "
            src="./images/image-customers/ivan-photo-not-bg-min.png"
            alt="reviewers foto"
            class="slider__foto neon5"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Trainee FS Developer <br />
              Маю 30 рочків, займаюся комплектухою... На проекті працював з
              секцією "PRODUCTS". Трабли виникли з кнопкою додаткового тексту,
              але з командою, ми все порішали)
            </p>
          </div>
          <h3 class="slider__bottom-text">Ivan, Kyiv</h3>
        </div>

        <div class="slider__box">
          <img
            srcset="
              ./images/image-customers/lena-photo-not-bg-min.png 1x,
              ./images/image-customers/lena-photo-not-bg-min.png 2x
            "
            src="./images/image-customers/lena-photo-not-bg-min.png"
            alt="reviewers foto"
            class="slider__foto neon6"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Trainee FS Developer <br />
              Мені завжди 18 😉. У найближчому майбутньому сподіваюся бути вже
              колишнім бухгалтером. Відповідала за секцію "CONTACTS". Завдяки
              командному проекту я стала майже майстром модалок.<br />
              Дякую своїй команді мрії😍!
            </p>
          </div>
          <h3 class="slider__bottom-text">Olena, Charkiv</h3>
        </div>

        <div class="slider__box">
          <img
            srcset="
              ./images/image-customers/roman-photo-not-bg-min.png 1x,
              ./images/image-customers/roman-photo-not-bg-min.png 2x
            "
            src="./images/image-customers/roman-photo-not-bg-min.png"
            alt="reviewers foto"
            class="slider__foto neon7"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Trainee FS Developer <br />Працюю менеджером зі збуту графітової продукції. В IT прийшов,
              тому що хочу щось створювати. Працював над секцією "GALLERY".
              Важко було розставити зображення не по сітці. <br> Полюбляю дощ, тому
              що в ньому можна приховати сльози))))
            </p>
          </div>
          <h3 class="slider__bottom-text">Roman, Charkiv</h3>
        </div>

        <div class="slider__box">
          <img
            srcset="
              ./images/image-customers/alex-photo-not-bg-min.png 1x,
              ./images/image-customers/alex-photo-not-bg-min.png 2x
            "
            src="./images/image-customers/alex-photo-not-bg-min.png"
            alt="reviewers foto"
            class="slider__foto neon8"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Trainee FS Developer <br />
              Мені 30 років, подобається весь час себе удосконалювати. Працював
              з слайдером,<br />
              Back-button, підключав та розбирався в нових для себе JavaScript. Команді великий Respect!
            </p>
          </div>
          <h3 class="slider__bottom-text">Olexandr, Lviv</h3>
        </div>
      </div>
    </div>
  </article>
</section>
