<section class="reviews" id="reviews">
  <h2 hidden class="review__title">Customer Reviews</h2>
  <article class="container reviews__container">
    <div class="slider">
      <div class="slider__wrapper">
        <div class="slider__box">
          <img
            srcset="
              ./image-customer/testimonials11x.png 1x,
              ./image-customer/testimonials12x.png 2x
            "
            src="./image-customer/testimonials11x.png"
            alt="reviewers foto"
            class="slider__foto"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="slider__bottom-text">Zina, Ukraine</h3>
        </div>

        <div class="slider__box">
          <img
            srcset="
              ./image-customer/testimonials21x.png 1x,
              ./image-customer/testimonials22x.png 2x
            "
            src="./image-customer/testimonials21x.png"
            alt="reviewers foto"
            class="slider__foto"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="slider__bottom-text">Yana, Estonia</h3>
        </div>

        <div class="slider__box">
          <img
            srcset="
              ./image-customer/testimonials31x.png 1x,
              ./image-customer/testimonials32x.png 2x
            "
            src="./image-customer/testimonials31x.png"
            alt="reviewers foto"
            class="slider__foto"
          />
          <div class="slider__description">
            <p class="slider__top-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <h3 class="slider__bottom-text">Bambam, Angola</h3>
        </div>
      </div>
    </div>
  </article>
</section>
