
    <div class="footer-container container">
        <div class="footer-title">
    <p class="footer__text">homemade ice cream made</p>
    <strong class="footer__top-text animate__animated animate__heartBeat">with passion</strong>
    </div>
    <div class="tumb">
    <div class="footer-social">
    <ul class="footer-social__soc-list list">
        <li class="footer-social__item">
            <a href="https://github.com/" class="social-soc__link">
                <svg class="social-soc__icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="footer-social__item">
            <a href="https://web.telegram.org/z/" class="social-soc__link">
                <svg class="social-soc__icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="footer-social__item">
            <a href="https://uk-ua.facebook.com/" class="social-soc__link">
                <svg class="social-soc__icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
    </div>
    <div class="footer-position">
    <span class="footer-position__text">Feel free to contact <a href="tel:+61(0)383766284" class="footer-position__link link">+61 (0) 383 766 284</a></span>
    </div>
    </div>
    </div>
    <p class="footer-symbol__text"> &#169; 2022 - IceCream.
    All Rights Reserved.</p>