<footer class="footer">
    <p class="footer__text">homemade ice cream made</p>
    <strong class="footer__top-text">with passion</strong>
    <div class="footer-social">
    <ul class="footer-social__soc-list list">
        <li class="footer-social__item">
        </li>
        <li class="footer-social__item"></li>
        <li class="footer-social__item"></li>
    </ul>
    </div>
    <div class="footer-position">
    <span class="footer-position__text">Feel free to contact<a href="tel:+61 (0) 383 766 284" class="footer-position__link">+61 (0) 383 766 284</a></span>
    </div>
    <p> &#169;2022 - IceCream.
    All Rights Reserved.</p>
</footer>