<h2 class="vissually-hidden">Наши работы</h2>
<ul class="gallery-list list">
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice1.jpg"
      alt="ice1"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice2.jpg"
      alt="ice2"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice3.jpg"
      alt="ice3"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice4.jpg"
      alt="ice4"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice5.jpg"
      alt="ice5"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice6.jpg"
      alt="ice6"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice7.jpg"
      alt="ice7"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice8.jpg"
      alt="ice8"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice9.jpg"
      alt="ice9"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
  <li class="gallery-item">
    <img
      src="./img/ice-img/ice10.jpg"
      alt="ice10"
      class="gallery-img"
      wigth="40"
      height="40"
    />
  </li>
</ul>
