<section class="gallery">
  <div class="container">
    <h2 class="vissually-hidden">Наши работы</h2>
    <ul class="gallery-list list">
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice1.jpg"
          alt="ice1"
          class="gallery-img"
        />
      </li>
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice2.jpg"
          alt="ice2"
          class="gallery-img"
        />
      </li>
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice3.jpg"
          alt="ice3"
          class="gallery-img"
        />
      </li>
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice4.jpg"
          alt="ice4"
          class="gallery-img"
        />
      </li>
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice5.jpg"
          alt="ice5"
          class="gallery-img"
        />
      </li>
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice6.jpg"
          alt="ice6"
          class="gallery-img"
        />
      </li>
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice7.jpg"
          alt="ice7"
          class="gallery-img"
        />
      </li>
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice8.jpg"
          alt="ice8"
          class="gallery-img"
        />
      </li>
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice9.jpg"
          alt="ice9"
          class="gallery-img"
        />
      </li>
      <li class="gallery-item">
        <img
          src="/src/images/image-gallery/ice-img/ice10.jpg"
          alt="ice10"
          class="gallery-img"
        />
      </li>
    </ul>
  </div>
</section>
