<header class="header" id="home">
  <div class="container">
    <a href="./index.html" class="logo animate__animated animate__slideInDown"
      ><img src="./image-hero-header/logo.png" alt="logo"
    /></a>
    <ul class="header-menu-list animate__animated animate__slideInDown">
      <li class="header-menu-list-item">
        <a href="#home" class="header-menu-list-item__link current">Home</a>
      </li>
      <li class="header-menu-list-item">
        <a href="#reviews" class="header-menu-list-item__link">About</a>
      </li>
      <li class="header-menu-list-item">
        <a href="#about" class="header-menu-list-item__link">How it’s made?</a>
      </li>
      <li class="header-menu-list-item">
        <a href="#product" class="header-menu-list-item__link">Our products</a>
      </li>
      <li class="header-menu-list-item">
        <a href="#contact" class="header-menu-list-item__link">Contact</a>
      </li>
    </ul>
    <button
      type="button"
      class="button__open-mob-menu animate__animated animate__slideInDown"
      data-menu-open
    >
      <svg class="menu-mob__open-icon" width="20" height="12">
        <use href="./image-hero-header/symbol-defs.svg#icon-open-menu"></use>
      </svg>
    </button>
    <button
      class="header-btn animate__animated animate__rubberBand"
      data-modalh-open
    >
      Buy now<span>></span>
    </button>
  </div>
</header>
