<header class="header">
  <div class="container">
    <a href="./index.html" class="logo"
      ><img src="./image-hero-header/logo.png" alt="logo"
    /></a>
    <ul class="header-menu-list">
      <li class="header-menu-list-item">
        <a href="" class="header-menu-list-item__link current">Home</a>
      </li>
      <li class="header-menu-list-item">
        <a href="" class="header-menu-list-item__link">About</a>
      </li>
      <li class="header-menu-list-item">
        <a href="" class="header-menu-list-item__link">How it’s made?</a>
      </li>
      <li class="header-menu-list-item">
        <a href="" class="header-menu-list-item__link">Our products</a>
      </li>
      <li class="header-menu-list-item">
        <a href="" class="header-menu-list-item__link">Contact</a>
      </li>
    </ul>
    <button type="button" class="button__open-mob-menu" data-menu-open>
      <svg class="menu-mob__open-icon" width="20" height="12">
        <use href="./image-hero-header/symbol-defs.svg#icon-open-menu"></use>
      </svg>
    </button>
    <button class="header-btn">Buy now<span>></span></button>
  </div>
</header>
