<section class="hero">
  <div class="container">
    <img
      src="./image-hero-header/hero-ice-cream.png"
      alt="ice-cream"
      class="ice-cream__img animate__animated animate__flip"
    />
    <img
      src="./image-hero-header/ice-cream-desktop.png"
      alt="ice-cream"
      class="ice-cream__img-desktop animate__animated animate__flip"
      width="236"
      height="557"
    />
    <div class="hero-box">
      <div class="left-box">
        <h1 class="hero__title-top-text animate__animated animate__flipInY">
          ice cream <br />made with<span class="hero__title-bottom-text"
            >passion</span
          >
        </h1>
        <div class="hero__btn animate__animated animate__flipInY">
          <a href="#product" class="hero__link">Products</a
          ><a href="#about" class="hero__link">How it’s made?</a>
        </div>

        <div class="left-bottom-box animate__animated animate__slideInLeft">
          <img
            src="./image-hero-header/milk-hero.png"
            alt="milk"
            class="milk-img"
            width="152"
            height="154"
          />
          <img
            src="./image-hero-header/milk-hero-desktop.png"
            alt="milk"
            class="milk-img-desktop"
            width="213"
            height="216"
          />
          <div class="info-hero">
            <input
              type="checkbox"
              class="info-open-btn__check visually-hidden"
              id="info"
            />
            <label for="info" class="infoinfo-open-btn"
              ><p class="info-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p></label
            >
          </div>
        </div>
      </div>
      <div class="right-box animate__animated animate__slideInRight">
        <p class="hero-right__text top">
          <span class="hero-right__text-top">16</span>
          cafes
        </p>
        <p class="hero-right__text">
          <span class="hero-right__text-top">23</span>
          food trucks
        </p>
      </div>
    </div>
    <img
      src="./image-hero-header/girl-hero.png"
      alt="girl"
      class="girl-img animate__animated animate__slideInRight"
      width="190"
      height="150"
    />
    <img
      src="./image-hero-header/girl-hero-desktop.png"
      alt="girl"
      class="girl-img-desktop animate__animated animate__slideInRight"
      width="304"
      height="241"
    />
  </div>
  <span class="circle-hero"></span>
</section>
