<section class="hero">
  <div class="container">
    <img
      src="./image-hero-header/hero-ice-cream.png"
      alt="ice-cream"
      class="ice-cream__img"
    />
    <div class="hero-box">
      <div class="left-box">
        <h1 class="hero__title-top-text">
          ice cream <br />made with<span class="hero__title-bottom-text"
            >passion</span
          >
        </h1>
        <div class="hero__btn">
          <button type="button" class="hero__btn-first">Products</button>
          <button type="button" class="hero__btn-second">How it’s made?</button>
        </div>

        <div class="left-bottom-box">
          <img
            src="./image-hero-header/milk-hero.png"
            alt="milk"
            class="milk-img"
            width="152"
            height="154"
          />
          <div class="info-hero">
            <input
              type="checkbox"
              class="info-open-btn__check visually-hidden"
              id="info"
            />
            <label for="info" class="infoinfo-open-btn"
              ><p class="info-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p></label
            >
          </div>
        </div>
      </div>
      <div class="right-box">
        <p class="hero-right__text top">
          <span class="hero-right__text-top">16</span>
          cafes
        </p>
        <p class="hero-right__text">
          <span class="hero-right__text-top">23</span>
          food trucks
        </p>
      </div>
    </div>
    <img
      src="./image-hero-header/girl-hero.png"
      alt="girl"
      class="girl-img"
      width="190"
      height="150"
    />
  </div>
  <span class="circle-hero"></span>
</section>
