<div class="mob-menu is-hidden-mob" data-menu>
  <button type="button" class="button__close-mob-menu" data-menu-close>
    <svg class="menu-mob__close-icon" width="14" height="14">
      <use href="./images/image-hero-header/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <button class="mob-menu-btn" data-modalhm-open>Buy now<span>></span></button>
  <ul class="mob-menu-list" data-anchor-close>
    <li class="mob-menu-list-item">
      <a href="#home" class="mob-menu-list-item__link current">Home</a>
    </li>
    <li class="mob-menu-list-item">
      <a href="#reviews" class="mob-menu-list-item__link">About</a>
    </li>
    <li class="mob-menu-list-item">
      <a href="#about" class="mob-menu-list-item__link">How it’s made?</a>
    </li>
    <li class="mob-menu-list-item">
      <a href="#product" class="mob-menu-list-item__link">Our products</a>
    </li>
    <li class="mob-menu-list-item">
      <a href="#contact" class="mob-menu-list-item__link">Contact</a>
    </li>
  </ul>
</div>
