<div class="backdrop is-hidden-header" data-modalh data-modalhm>
  <div class="modal-buy-now">
    <button type="button" class="modal-buy-now-close__btn" data-modalh-close>
      <svg class="menu-mob-buy-now__close-icon" width="14" height="14">
        <use href="./images/image-hero-header/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-buy-now__title">Buy your favorite ice cream</h2>
    <form>
      <div class="modal-box">
        <input
          type="text"
          id="name-input"
          class="modal-box__input"
          name="name"
          placeholder="Name"
          required
        />
        <svg class="modal-box__icon" width="18" height="18">
          <use
            href="./images/image-hero-header/symbol-defs.svg#icon-input-name"
          ></use>
        </svg>
      </div>
      <div class="modal-box">
        <input
          type="text"
          id="tel-input"
          class="modal-box__input"
          name="tel"
          required
          placeholder="Phone"
        />
        <svg class="modal-box__icon" width="18" height="18">
          <use
            href="./images/image-hero-header/symbol-defs.svg#icon-input-tell"
          ></use>
        </svg>
      </div>
      <button type="submit" class="modal-form__btn">Send</button>
    </form>
  </div>
</div>
