<div class="backdrop is-hidden" data-modal>
  <div class="about__modal">
    <button type="button" class="about-modal-btn" data-modal-close>
      <svg class="about__modal-close-icon" width="12" height="12">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="about__modal-text">
      <p class="about__modal-title">Lorem, ipsum dolor.</p>
      <ul class="about__modal-list">
        <li class="about__modal-item">
          <p class="about__modal-item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            provident aut harum eos illum quos repellendus deleniti distinctio
            autem cum!
          </p>
        </li>
        <li class="about__modal-item">
          <p class="about__modal-item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            provident aut harum eos illum quos repellendus deleniti distinctio
            autem cum!
          </p>
        </li>
        <li class="about__modal-item">
          <p class="about__modal-item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            provident aut harum eos illum quos repellendus deleniti distinctio
            autem cum!
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
