<div class="backdrop is-hidden" data-modal>
  <div class="about__modal">
    <button type="button" class="about-modal-btn" data-modal-close>
      <svg class="modal-close-icon" width="12" height="12">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="about__modal-text">
      <p class="about__modal-title">Цікаві факти:</p>
      <ul class="about__modal-list">
        <li class="about__modal-item">
          Ложка радості. Лондонські вчені довели: морозиво поліпшує настрій.
          Провівши експеримент, вони з'ясували, що достатньо з’їсти одну ложку
          улюбленого холодного смаколика — і настрій підніметься. Як? Морозиво
          стимулює вироблення спеціального гормону щастя — серотоніну. Тож не
          дивно, що стресові ситуації люди «заїдають» морозивом.
        </li>
        <li class="about__modal-item">
          І шлунок задоволений! Йогуртове морозиво найкорисніше для шлунку. Саме
          воно містить біфідобактерії, які покращують моторику та мікрофлору
          кишківника, позитивно впливають на імунну систему.
        </li>
        <li class="about__modal-item">
          Лікувати горло морозивом? Для того, щоб загартувати горло і зробити
          його стійкішим до низьких температур, вчені радять їсти більше
          морозива. Така профілактика знижує ризик розвитку хвороб горла.
        </li>
      </ul>
    </div>
  </div>
</div>
