<div class="backdrop is-hidden" data-modal>
  <div class="about__modal">
    <button type="button" class="about-modal-btn" data-modal-close>
      <svg class="modal-close-icon" width="12" height="12">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="about__modal-text">
      <p class="about__modal-title">Lorem, ipsum dolor.</p>
      <ul class="about__modal-list">
        <li class="about__modal-item">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          provident aut harum eos illum quos repellendus deleniti distinctio
          autem cum!
        </li>
        <li class="about__modal-item">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          molestiae fuga sint, magnam optio sequi temporibus vero. Dolorem
          aperiam, neque, dicta, eos ipsum provident aliquid similique quos
          consequatur asperiores architecto.
        </li>
        <li class="about__modal-item">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis
          aliquam mollitia magnam provident natus quod neque inventore, id
          sapiente suscipit odio, dolorem voluptatem molestias, voluptate dolor
          quasi. Cumque quos aspernatur ipsum odit, commodi, tenetur quisquam
          nihil natus voluptate vel delectus.
        </li>
      </ul>
    </div>
  </div>
</div>
