<div class="backfrop-prezent is-hidden-prezent" data-modalp>
  <div class="modal-slide-p">
    <div class="modal-slide-p first-slide" id="start">
      <img
        src="./image-hero-header/logo-team.jpg"
        alt="logo"
        class="first-list"
      />
      <a class="next-btn" href="#ro">next</a>
    </div>
    <div class="modal-slide-p first-slide two-slide-name" id="ro">
      <h2 class="two-slide__title">Наша команда</h2>
      <a href="#start" class="back-btn">back</a>
      <a class="next-btn" href="#two">next</a>
    </div>
    <div class="modal-slide-p first-slide two-slide" id="two">
      <a href="#ro" class="back-btn">back</a>
      <a class="next-btn" href="#three">next</a>
      <ul class="team-list">
        <li class="team-list-item">
          <img src="./image-hero-header/alina1.png" alt="alina" />
          <p class="team-name">Аліна</p>
          <p class="team-section">тім лід:секція footer</p>
        </li>
        <li class="team-list-item">
          <img src="./image-hero-header/Bogdan.png" alt="bogdan" />
          <p class="team-name">Богдан</p>
          <p class="team-section">скрам-майстер:секція about</p>
        </li>
        <li class="team-list-item">
          <img src="./image-hero-header/ivan.png" alt="ivan" />
          <p class="team-name">Іван</p>
          <p class="team-section">секція products</p>
        </li>
        <li class="team-list-item">
          <img src="./image-hero-header/roman.png" alt="roman" />
          <p class="team-name">Роман</p>
          <p class="team-section">секція gallery</p>
        </li>
        <li class="team-list-item">
          <img src="./image-hero-header/yulia.png" alt="yulia" />
          <p class="team-name">Юля</p>
          <p class="team-section">секція advantages</p>
        </li>
        <li class="team-list-item">
          <img src="./image-hero-header/sasha.png" alt="sasha" />
          <p class="team-name">Саша</p>
          <p class="team-section">секція reviews</p>
        </li>
        <li class="team-list-item">
          <img src="./image-hero-header/lena.png" alt="olena" />
          <p class="team-name">Олена</p>
          <p class="team-section">секція contact</p>
        </li>
        <li class="team-list-item">
          <img src="./image-hero-header/nazar.png" alt="nazar" />
          <p class="team-name">Назар</p>
          <p class="team-section">секція hero-header</p>
        </li>
      </ul>
    </div>
    <div class="modal-slide-p first-slide three-slide" id="three">
      <h2 class="three-slide__title">Переваги нашого сайту</h2>
      <div class="box-three-slide">
        <span class="prezent-info-text"
          >Наш сайт допоможе тим хто по справжньому любить морозиво але є
          проблема з його вибором та замовленням.<br />На сторінці можна
          замовити морозиво, прочитати цікаву інформацію про його походження та
          складові, можете знайти контакти та обрати найближчу для вас точку
          продажу, а для зацікавлених в співпраці є можливість
          франчайзингу.</span
        >
        <div class="screen-show">
          <img
            src="./image-hero-header/screen.png"
            alt="screen"
            class="screen-img"
          />
        </div>
      </div>
      <a href="#two" class="back-btn">back</a>
      <a class="next-btn" href="#four">next</a>
    </div>
    <div class="modal-slide-p first-slide four-slide" id="four">
      <h2 class="four-slide__title">Технології які ми використовували</h2>
      <ul class="four-slide-list">
        <li>
          <h3 class="four-slide-list-item__title">Front-end:</h3>
          <ul class="four-slide-list-list">
            <li class="four-slide-list-list-item"><span>1.HTML/CSS</span></li>
            <li class="four-slide-list-list-item">
              <span>2.Animate.css</span>
            </li>
            <li class="four-slide-list-list-item"><span>3.JavaScript</span></li>
          </ul>
        </li>
        <li class="fsll">
          <h3 class="four-slide-list-item__title">Utilites:</h3>
          <ul class="four-slide-list-list">
            <li class="four-slide-list-list-item"><span>1.VSCode</span></li>
            <li class="four-slide-list-list-item"><span>2.Webpack</span></li>
            <li class="four-slide-list-list-item"><span>3.Parcel</span></li>
            <li class="four-slide-list-list-item"><span>4.Figma</span></li>
            <li class="four-slide-list-list-item"><span>5.Git/GitHub</span></li>
          </ul>
        </li>
      </ul>
      <div class="screen-show-next">
        <img
          src="./image-hero-header/screecode.png"
          alt="screen"
          class="screencod-img"
        />
      </div>
        <div class="screen-show-nxt">
          <img
            src="./image-hero-header/screenfigma.png"
            alt="screen"
            class="screefigma-img"
          />
        </div>
        <a href="#three" class="back-btn">back</a>
        <a class="next-btn" href="#five">next</a>
      </div>
      <div class="modal-slide-p first-slide five-slide" id="five">
        <h2 class="five-slide__title">А далі<br>переходимо до сайту</h2>
        <a href="#four" class="back-btn">back</a>
        <button class="prezent-close" data-modalp-close>close</button>
        <a class="next-btn" href="#start">start</a>
      </div>
    </div>
  </div>
</div>
