<div class="backdrop is-hidden" data-modloc>
  <div class="modal-location">
    <button type="button" class="modal-location-close-btn" data-modloc-close>
      <svg class="modal-location-close-icon" width="18" height="18">
        <use href="/src/image-contacts/contacts-icon.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-location-title">Visit one of our locations</p>
    <div class="modal-location-map">
      <iframe
        class="modal-location-map-page"
        src="https://www.google.com/maps/d/u/0/embed?mid=1UaN4xZ4ZHF1IHD2VgDlVs04ZkYz0HIc&ehbc=2E312F"
      ></iframe>
    </div>
  </div>
</div>
