.no-scroll {
  overflow: hidden;
  @media screen and (min-width: 768px) {
    overflow: auto;
  }
}
.is-hidden-mob {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #e17992;
  top: 0;
  z-index: 10;
  padding: 60px 0 0 0;
  transform: translateX(0);
  transition: transform 1000ms linear, opacity 1000ms, visibility 1000ms linear;
  @media screen and (min-width: 768px) {
    width: 254px;
    right: 0;
  }
  @media screen and (min-width: 788px) {
    width: 50%;
  }
}
.mob-menu.is-hidden-mob {
  transform: translateX(100%);
}
.button__close-mob-menu {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  top: 20px;
  right: 20px;
}
li {
  list-style: none;
}
.mob-menu-list-item {
  padding: 13px 0 11px 20px;
  border-top: 1px solid #e18298;
}
.mob-menu-list-item:last-child {
  border-bottom: 1px solid #e18298;
  padding-bottom: 14px;
}
.mob-menu-btn {
  border: none;
  border-radius: 22px;
  background-color: #fff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d41443;
  width: 209px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 300ms linear;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.mob-menu-btn span {
  margin-left: 40px;
}
.mob-menu-list-item__link {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}
