
.advantages {
  padding-bottom: 80px;

  background-color: var(--bottom-body-bg-color);

  @media screen and (min-width: 768px) {
    padding-bottom: 84px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
}
}
.advantages-list {
    @media screen and (max-width: 767px) {
    margin-bottom: -32px;
}
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.advantages-item {
  @media screen and (max-width: 767px) {
  width: 230px;
  height: 158px;
  
  margin-bottom: 32px;
}
}
.advantages-item + .advantages-item{
  @media screen and (min-width: 768px){
  margin-left: 22px;
  }
  @media screen and (min-width: 1280px){
  margin-left: 106px;
  }
}
.first-item::before{
  content: '';
  width: 33px;
  height: 50px;
  display: inline-block;
  background-size: contain;
  background-image: url('../images/image-advantages/milk1x.png');
   @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/image-advantages/milk2x.png');
    }
  
  margin-bottom: 16px;

  @media screen and (min-width: 768px){
  margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px){
  margin-bottom: 40px;
}
  animation-name: iconrotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes iconrotate {
  0% {
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(90deg);
  }
  65%{
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.advantages__box {
  display: flex;
}
.second-item::before{
  content: '';
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: contain;
  background-image: url('../images/image-advantages/fruits1x.png');
   @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/image-advantages/fruits2x.png');
    }

  margin-bottom: 16px;

  @media screen and (min-width: 768px){
  margin-bottom: 36px;
}
@media screen and (min-width: 1280px){
  margin-bottom: 40px;
}
  animation-name: iconrotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.third-item::before{
  content: '';
  width: 44px;
  height: 50px;
  display: inline-block;
  background-size: contain;
  background-image: url('../images/image-advantages/ice1x.png');
   @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/image-advantages/ice2x.png');
    }
  margin-bottom: 16px;

  @media screen and (min-width: 768px){
  margin-bottom: 36px;
}
  @media screen and (min-width: 1280px){
  margin-bottom: 40px;
}
  animation-name: iconrotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.advantages-top-text {
font-family: 'Titan One';
font-size: 36px;
line-height: 1.14;
letter-spacing: 0.04em;
text-transform: uppercase;

margin-bottom: 16px;

color: var(--second-text-color);

 @media screen and (min-width: 768px){
  font-size: 48px;
  line-height: 1.15;

  margin-bottom: 13px;
}
@media screen and (min-width: 1280px){
  font-size: 58px;
  line-height: 1.14;

  margin-bottom: 16px;
}
}
.advantages-bottom-text {
font-weight: 700;
font-size: 12px;
line-height: 1.17;

color: var(--fourth-text-color);

@media screen and (min-width: 768px){
font-weight: 700;
font-size: 14px;
line-height: 1.71;
}
@media screen and (min-width: 1280px){
  width: 275px;
  font-size: 16px;
  line-height: 1.75;
}
}
