.reviews {
  padding-bottom: 48px;
  @include tablet {
    padding-bottom: 80px;
  }
  @include desktop {
    padding-bottom: 120px;
  }
}
.slider__foto {
  width: 120px;
  height: 120px;
  margin-bottom: 75px;
  border-radius: 50%;

  @include tablet {
    margin-bottom: 57px;
      width: 300px;
  height: 300px;
  }
  @include desktop {
    margin-bottom: 63px;
  }
}
.slider__description {
  margin-bottom: 33px;
  position: relative;
  padding-bottom: 4px;
  background-position: 0px -4px;
  background-image: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 29px,
    #e1e1e1 31px
  );

  @include tablet {
    display: flex;
    width: 608px;
    justify-content: center;
    margin-bottom: 40px;
  }
  @include desktop {
    width: 821px;
    margin-bottom: 47px;
  }
}

.slider__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

.slider__top-text {
  display: flex;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: #000000;
  max-width: 157px;
  position: relative;
  z-index: 1;

  @include tablet {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;
    max-width: 515px;
  }
  @include desktop {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;

    max-width: 750px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    background-image: url(./components/slick-utils/chirik.svg);
    background-repeat: no-repeat;
    width: 54px;
    height: 40px;
    background-size: contain;
    z-index: -1;
    transform: translateY(-50%);
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @include tablet {
      left: -40px;
    }
    @include desktop {
      left: -35px;
    }
  }
}

.slider__bottom-text {
  position: relative;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
  padding-top: 20px;
  margin-bottom: 16px;
  @include tablet {
    font-size: 16px;
    line-height: 1.88;
    margin-bottom: 32px;
  }
  @include desktop {
    font-size: 20px;
    line-height: 1.85;
  }

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 4px;
    background-size: contain;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-image: url(./components/slick-utils/Group.svg);
    background-repeat: no-repeat;
  }
}

.back-button {
  display: inline-block;
  background-color: #ffa5ba;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  text-align: center;
  text-decoration: none;
  border: none;
  &.show {
    @include mobile {
      visibility: hidden;
    }
    @include tablet {
      opacity: 1;
      visibility: visible;
      &:hover,
      &:focus {
        background-color: #ffa5ba;
        box-shadow: 0 0 10px 0 #ff003c inset, 0 0 20px 4px #ff003c;
        transition: all 150ms ease-in-out;
      }
    }
    @media screen and (min-width: 1420px) {
      transform: translateX(700px);
      right: 50%;
    }
    &:after {
      content: '\2B9D';
      font-weight: 500;
      font-style: normal;
      font-size: 2em;
      line-height: 50px;
      color: #d41443;
    }
  }
}

.neon1 {
  border: 2px solid #88ff74;
  box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 2rem #42fe90,
    0 0 0.8rem #42fe90, 0 0 2.8rem #42fe90, inset 0 0 1.3rem #42fe90;
}

.neon2 {
  border: 2px solid #8c00ff;
  box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 2rem #8c00ff,
    0 0 0.8rem #8c00ff, 0 0 2.8rem #8c00ff, inset 0 0 1.3rem #8c00ff;
}

.neon3 {
  border: 2px solid #082bda;
  box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 2rem #1239ff,
    0 0 0.8rem #1239ff, 0 0 2.8rem #1239ff, inset 0 0 1.3rem #1239ff;
}

.neon4 {
  border: 2px solid #fd0e30;
  box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 2rem #fd0e30,
    0 0 0.8rem #fd0e30, 0 0 2.8rem #fd0e30, inset 0 0 1.3rem #fd0e30;
}

.neon5 {
  border: 2px solid #ebbc00;
  box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 2rem #ffcc02,
    0 0 0.8rem #ffcc02, 0 0 2.8rem #ffcc02, inset 0 0 1.3rem #ffcc02;
}

.neon6 {
  border: 2px solid #ffa5ba;
  box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 2rem #ffa5ba,
    0 0 0.8rem #ffa5ba, 0 0 2.8rem #ffa5ba, inset 0 0 1.3rem #ffa5ba;
}

.neon7 {
  border: 2px solid #ff911a;
  box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 2rem #ff911a,
    0 0 0.8rem #ff911a, 0 0 2.8rem #ff911a, inset 0 0 1.3rem #ff911a;
}

.neon8 {
  border: 2px solid #f955e3;
  box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
