.header {
  background-color: #ffb8ca;
  position: sticky;
  top: 0;
  z-index: 8;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    width: 768px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    top: 20px;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}
.logo {
  padding: 8px 0 8px 0;
  font-size: 30px;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1, 15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  text-decoration: none;
  @media screen and (min-width: 1280px) {
    margin-right: 175px;
  }
}
.button__open-mob-menu {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: inline-block;
  margin-left: auto;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.header-btn {
  border: none;
  border-radius: 22px;
  background-color: #fff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: none;
  justify-content: center;
  align-items: center;
  color: #d41443;
  width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 32px;
  transition: background-color 300ms linear;

  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #ecebeb;
    animation-name: scaleanim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  & span {
    margin-left: 20px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    margin-left: auto;
  }
}
.header-menu-list {
  display: flex;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
.header-menu-list-item__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21px / 16px);
  color: #ffffff;
  text-decoration: none;
}
.header-menu-list-item {
  margin-right: 35px;
}
.current {
  color: #d41443;
}
