.header {
  background-color: #ffb8ca;
  position: sticky;
  top: 0;
  z-index: 8;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 8px 0 8px 0;
  font-size: 30px;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1, 15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  text-decoration: none;
}
.button__open-mob-menu {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: inline-block;
}
