.hero {
  background: #ffb8ca;
  position: relative;
  overflow: hidden;
}
.ice-cream__img {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 1;
}
.circle-hero {
  width: 344px;
  height: 344px;
  position: absolute;
  top: 17px;
  left: 50%;
  background-color: #ffa5ba;
  border-radius: 50%;
  z-index: 0;
  transform: translateX(-36%);
}
.hero__title-top-text {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1, 15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  z-index: 5;
}
.hero__title-bottom-text {
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
  z-index: 2;
}
.hero .container {
  position: relative;
  padding-bottom: 158px;
  padding-top: 128px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.hero__btn-first {
  padding: 9px 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #d41443;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #ffff;
  height: 24px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.hero__btn-second {
  padding: 9px 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #fff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #d41443;
  height: 24px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
}
.hero__btn {
  z-index: 6;
  display: flex;
}
