.hero {
  background: #ffb8ca;
  position: relative;
  overflow: hidden;
  z-index: -3;
  @media screen and (min-width: 768px) {
    z-index: 0;
  }
}
.ice-cream__img {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: -1;
  @media screen and (min-width: 768px) {
    width: 143px;
    right: 280px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.ice-cream__img-desktop {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 440px;
    z-index: -1;
    width: 220px;
  }
}
.circle-hero {
  width: 344px;
  height: 344px;
  position: absolute;
  top: 17px;
  left: 50%;
  background-color: #ffa5ba;
  border-radius: 50%;
  z-index: -2;
  transform: translateX(-36%);
  @media screen and (min-width: 768px) {
    width: 335px;
    height: 335px;
    top: 43px;
  }
  @media screen and (min-width: 1280px) {
    width: 534px;
    height: 534px;
    left: 53%;
  }
}
.hero__title-top-text {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1, 15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  z-index: 5;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: calc(44px / 38px);
  }
}
.hero__title-bottom-text {
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
  z-index: 2;
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 90.5%;
  }
}
.hero .container {
  position: relative;
  padding-bottom: 158px;
  padding-top: 102px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  outline: none;
  @media screen and (min-width: 768px) {
    padding-bottom: 13px;
    padding-top: 92px;
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 60px;
    padding-top: 120px;
  }
}
.hero__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #ffff;
  height: 24px;
  margin-right: 5px;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #d41443;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: background-color 300ms linear;
  & + & {
    background-color: #fff;
    color: #d41443;
    margin-right: 0;
    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
  &:hover,
  &:focus {
    background-color: #c7133e;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: calc(18px / 14px);
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.hero__btn {
  z-index: 6;
  display: flex;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}
.left-bottom-box {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;
  }
}
.info-hero {
  width: 114px;
  padding-bottom: 35px;
  overflow: hidden;
  z-index: 15;
  @media screen and (min-width: 1280px) {
    width: 200px;
  }
}
.info-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
  display: block;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 700ms linear, opacity 700ms linear;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 140%;
  }
}

.arrow__icon {
  fill: #d41443;
}
.infoinfo-open-btn {
  cursor: pointer;
}
.infoinfo-open-btn::after {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../image-hero-header/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px;
  transition: transform 700ms linear;
  margin-top: 7px;
  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }
}
.info-open-btn__check:checked + .infoinfo-open-btn::after {
  transform: rotate(-90deg);
}
.info-open-btn__check:checked + .infoinfo-open-btn .info-text {
  transform: translateY(0);
  opacity: 1;
}
.hero-right__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #ffffff;
  display: none;
  flex-direction: column;
  &.top {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: calc(18px / 14px);
  }
}
.hero-right__text-top {
  font-family: 'Titan One';
  font-style: normal;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  position: relative;
  z-index: 4;
  &::after {
    content: '';
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -4px;
    z-index: -1;
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
      top: -4px;
      right: -15px;
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: calc(53px / 46px);
  }
}
.hero-box {
  display: flex;
  justify-content: space-between;
}
.girl-img {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 32px;
    z-index: 1;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.girl-img-desktop {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 16px;
    z-index: 1;
  }
}
.milk-img {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.milk-img-desktop {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}
