.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: hsla(345, 100%, 86%, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 350ms, visibility 350ms;
}

.backdrop.is-hidden .about__modal {
  transform: scale(0.01) rotate(-720deg);
}

.about__modal {
  position: relative;

  width: 320px;
  min-height: 400px;
  padding: 35px;
  background-color: var(--first-bg-color);
  border-radius: 24px;
  border: 5px dashed var(--first-text-color);

  transform: scale(1) rotate(1);
  transition: transform 350ms;

  @include tablet {
    width: 500px;
  }

  @include desktop {
    width: 600px;
  }
}

.about-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #d41443;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 300ms linear, border 300ms linear;

  position: absolute;
  top: 10px;
  right: 10px;
  &:hover,
  &:focus {
    background-color: #d41443;
    border: 2px solid #fff;
  }
}

.about__modal-close-icon {
  fill: #d41443;
}

.about__modal-text {
  text-align: center;
}
.about__modal-title {
  font-family: 'Titan One';

  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--second-text-color);

  margin-bottom: 25px;

  @include tablet {
    font-size: 24px;
  }

  @include desktop {
    font-size: 34px;
  }
}

.about__modal-item {
  border-bottom: 3px dashed var(--second-text-color);
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.about__modal-item-text {
  font-size: 14px;

  @include tablet {
    font-size: 18px;
    letter-spacing: 00.04em;
  }

  @include desktop {
    font-size: 24px;
    letter-spacing: 00.04em;
  }
}
