@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
.products {
  &__item {
    background: var(--second-bg-color);
    border-radius: 24px;
    position: relative;

    &:first-child {
      background: var(--first-bg-color);
    }
    &:last-child {
      background: var(--third-bg-color);
    }
    &:not(:last-child) {
      margin-bottom: 140px;
    }
    @media screen and (min-width: 768px) {
      width: calc(100% / 3 - 16px);
      margin-left: 16px;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1280px) {
      width: calc(100% / 3 - 32px);
      margin-left: 32px;
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: auto;
    top: -140px;
    position: absolute;
    @media screen and (min-width: 1280px) {
      top: -245px;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    fill: var(--second-text-color);
    &:hover .products__btn-icon,
    &:focus .products__btn-icon {
      transform: rotate(-90deg);
    }
  }
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -16px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: -32px;
    }
  }
  &__sections {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  &__text {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(24 / 14);
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--first-text-color);
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: calc(24 / 16);
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 60px;
    }
  }

  &__row {
    padding: 160px 40px 40px 40px;
    text-align: center;
    position: relative;
    @media screen and (min-width: 768px) {
      padding: 118px 32px 40px 32px;
    }
    @media screen and (min-width: 1280px) {
      padding: 165px 75px 60px 75px;
    }
  }
  &__sub-title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--first-text-color);
    margin-bottom: 32px;
    @media screen and (min-width: 1280px) {
      line-height: calc(23 / 30);
    }

    &::after {
      content: '...';
      display: block;
      color: var(--first-text-color);
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
  &__top-text {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18);
    text-align: center;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 18px;
      font-size: 26px;
      line-height: calc(30 / 26);
      @media screen and (min-width: 1280px) {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: calc(34 / 30);
      }
    }
  }
  &__title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: calc(39 / 34);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--second-text-color);
    margin-bottom: 148px;
    animation: pulse 2s infinite;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: calc(55 / 48);
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: calc(66 / 58);
      margin-bottom: 258px;
    }
  }
}
.additinfo_row {
  overflow: hidden;
  z-index: 15;
}

.additinfo-open-btn {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.additinfo-open-btn::after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../images/image-hero-header/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px;
  transition: transform 700ms linear, border 300ms linear;
}
.additinfo-open-btn:hover.additinfo-open-btn::after,
.additinfo-open-btn:focus.additinfo-open-btn::after {
  border: 2px solid #d41443;
}
.additinfo-open-btn__check:checked + .additinfo-open-btn {
}
.additinfo-open-btn__check:checked + .additinfo-open-btn::after {
  transform: rotate(-90deg);
}
.additinfo-open-btn__check:checked + .additinfo-open-btn .additinfo-text {
  transform: translateY(0);
  opacity: 1;
}
.additinfo-text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--first-text-color);
  display: block;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 700ms linear, opacity 100ms linear;
  margin-bottom: 15px;
  width: 250px;
  height: 185px;
  // margin-bottom: 30px;
  background-color: var(--first-bg-color);
  @media screen and (min-width: 768px) {
    width: 200px;
    height: 215px;
    font-size: 16px;
    line-height: calc(24 / 16);
  }
  @media screen and (min-width: 1280px) {
    width: 250px;
    height: 185px;
  }
}
.additinfo__text-three {
  background-color: var(--third-bg-color);
}
.additinfo__text-two {
  background-color: var(--second-bg-color);
}
